/*
    General
*/
html, body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #04080F;
    overflow: hidden;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}

::-webkit-scrollbar-track
{
	background-color: white !important;
}

::-webkit-scrollbar
{
	width: 6px !important;
	margin-right: -6px !important;
	background: rgba(0,0,0,0) !important;
}

::-webkit-scrollbar-thumb
{
	border-radius: 6px !important;
	background: #04080F !important;
}

/*
    Header
*/
header{
    display: grid;
    grid-template-columns: auto 10px;
    padding: 5px;
    height: 10px;
}
#title{
    font-size: .5em;
    -webkit-app-region: drag;
}
#close{
    outline: none;
    border: none;
    background: none;
    padding: 0;

    height: 10px;
    width: 10px;
    fill: #04080F;
}
#close img{
    display: block;
    height: inherit;
    width: inherit;
}
#close:hover{
    cursor: pointer;
    fill:#16BAC5;
}

/*
    iFrame
*/
#content-container{
    height: calc(100vh - 30px);
    width: 100vw;
}
#frame{
    border: none;
    outline: none;

    height: 100%;
    width: 100%;
}